* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-container{
    height: 20rem;
    width: 20rem;
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #a38585 , #c98181);
}
.main-container h1{
    text-align: center;
    margin-left: 6rem;
}
.task-item {
    font-size: 10px;
    border-bottom: 1px solid black;
}

.task-item:last-child {
    border-bottom: none;
}

.task-item input[type="checkbox"] {
    margin-right: 10px;
}

/* #output {
    margin-top: 10px;
    font-size: 0.9em;
} */

label {
    font-size: 17px;
}

.delete-btn{
    background-color: red;
    color: white;
    outline: none;
    border: none;
}

#storeButton{
    background-color: blue;
    color: white;
    width: 7rem;
}

#viewButton{
    background-color: blue;
    color: white;
    width: 7rem;
    height: 2.4rem;
}

.submit-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#titleInput{
    height: 1.5rem;
    width: 12rem;
}

#growthInput{
    height: 4rem;
}